
#container{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.block{
    border: 1px solid pink;
    height: 30px;
    width: 30px;
}