*{
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: auto;
}

h1{
    text-align: center;
}

.block{
    border: 1px solid black;
    width: 100%;
}