body{
  background-color: #46464A;
  color: #fff;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[v-cloak] {
    display: none
}

h1{
    text-align: center;
    font-size: 60px;
}

#hintContainer,#strikeContainer{
    margin: 10px;
}

.feedback{
    margin: 20px;
}

#historyHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 35px;
}


#scoreBoard{
    padding: 5px;
    font-size: 30px;
    margin: 10px;
}

#score{
    float: left;
    margin: 10px;
}

#dashes{
    letter-spacing: 1rem;
    margin: 20px;
    font-size: 40px;
}

#guess{
    margin: 5px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 6px;
    border: none;
    width: 50px;
    font-weight: bolder;
    text-align: center;
}

.disabledButton{
    cursor: not-allowed;
}

button{
    margin: 5px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 6px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
}

.againBtn{
    margin: 5px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 6px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
}

.win{
    color: gold;
}

.lose{
    color: red;
}


#guessesContainer{
    border: 1px solid #fff;
    width: 200px;
}

#guessesList{
    list-style: none;
}
